.design-element{
    border: 1px dotted gray;
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    vertical-align: top;
}

.invisible-text{
    background-color: LightGrey;
    color: LightGrey;
}

.message {
    border: 1px solid LightGrey;
    margin: 5px;
    padding: 5px;
}

#messages_container .from_me {

}

#messages_container .to_me {
    text-align: right;
}

.menu {
    margin: 1em;
    padding: 1em;

    background-color: rgba(0,0,100,0.1);
}

@media screen and (max-device-width: 800px) {

}

